<div class='footer'>
  <div class='footer-buttons'>
    <a target="_blank" class='btn host-btn'
       :href="'https://ignite.biologicaldiversity.org/go/host?source='+source+'&akid='+akid">
      Host an event
    </a>
    <a target="_blank" class='btn share-btn' :href="shareUrl">
      <span class='share-btn-content'>
        <span>Share the map</span>
        <img src='~images/fb-logo-white.png' />
      </span>
    </a>
  </div>
  <span class='privacy-policy'>
    <a target="_blank" href='http://ignite.biologicaldiversity.org/signup/privacy-policy/'>Privacy Policy</a>
     &copy;2017 Center for Biological Diversity
  </span>
</div>
