$red: #BE1E2D;
$dark: rgb(51, 51, 51);
$blue: #edc868;
$light-blue: #BE1E2D;
$lightest-blue: #efe5cc;
$aclu-blue: #D19700;
$facebook-blue: #3B5998; // Share button
$off-white: #ECECEC;
$gray: #D6D6D6;
$light-gray: #E0DFE0;
$dark-red: #BE1E2D;
$white: #FFF;
$black: #000;

$text-size: 18px;
$offset: $text-size;
$accent-font: "Freight Sans CMP";
$breakpoint-large: 1000px;
